
.page-body {
   color: white;
   font-family: sans-serif;
   background-color: #171717;
}

h2 {
   font-weight: 700;
   font-size: 50px;
   line-height: 28px;
}

.container {
   max-width: 1460px;
   margin: 0 auto;
}

/* HEADER */
.nav-container {
   display: flex;
   justify-content: space-between;
}

.logo-img {
   width: 216px;
   height: 33px;
   margin-top: 46px;
}
.bar-button {
   display: inline-block;
}

.btn-nav {
   display: inline-block;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   border: 1px solid #E4B564;
   margin-top: 37px;
}

.nav-button-content {
   background:    transparent;
   color: #E4B564;
   padding-top: 10px;
   padding-right: 25px;
   padding-bottom: 10px;
   cursor: pointer;
   display: inline-block;
}

.callback {
   padding: 17px 8px 17px 25px;
}

/* SECTION 2 - WE OFFER */
.service {
   padding-top: 128px;
   padding-bottom: 41px;
}
.about-us {
   font-weight: 700;
   font-size: 20px;
   line-height: 28px;
   margin-bottom: 41px;
   width: 1182px;
}

/* GRID - 1 - TABLE 1 */

/* .service-list {
   display: grid;
   min-height: 963px;
   column-gap: 30px;
   row-gap: 27px;
   grid-template-areas: "a a b b c c"
                        "d d d e e e"
}
.service-item-1 {
   grid-area: a;
}
.service-item-2 {
   grid-area: b;
}
.service-item-3 {
   grid-area: c;
}
.service-item-4 {
   grid-area: d;
}
.service-item-5 {
   grid-area: e;
}
*/

.service-list {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   column-gap: 30px;
   row-gap: 27px;
}

.service-item {
   grid-column: auto / span 2
}

.service-item:nth-child(4),
.service-item:nth-child(5) {
   grid-column: auto / span 3;
}

.color1 {background-color: #634F2C;}
.color2 {background-color: #B4A385;}
.color3 {background-color: #E4B564;}
.color4 {background-color: #635A4A;}
.color5 {background-color: #B08C4D;}
.color7 {background-color: #E8D2AB;
         background: rgba(232, 210, 171, 0.76);
         }

.service-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align:center;
   font-weight: 700;
   font-size: 20px;
   line-height: 28px;
   min-height: 468px;
}
        
/* MOTOR-PARK */
.motor-park {
   margin-top: 161px;
}
.motor-park-list {
   display: flex;
   flex-direction: column;
   margin-top: 94px;
   height: 960px;
   flex-wrap: wrap;
   column-gap: 30px;
   row-gap: 26px;
   padding-left: 0;
}
.motor-park-list > li > p {
   font-size: 20px;
   line-height: 25px;
}
.motor-park-list > li  {
   width: 467px;
}

.motor-park-item-special-1 {
   min-height: 313px;
   background-color: #0E0E0E;
}

.description-1 {
   padding: 44px 113px 219px 52px;
   margin: 0;
   font-weight: 400;
}

.motor-park-item-special-2 {
   min-height: 560px;
   background-color: #1F1F1F;
}

.description-2 {
   padding: 56px 113px 479px 52px;
   margin: 0;
   font-weight: 500;
}

.motor-park-item-special-3 {
   min-height: 439px;
   background-color: #242424;
}

.description-3 {
   padding: 44px 114px 345px 51px;
   margin: 0;
   font-weight: 400;
}

.motor-park-item-special-4 {
   min-height: 405px;
   background-color: #E4B564;
}

.description-4 {
   padding: 47px 113px 333px 52px;
   margin: 0;
   font-weight: 500;
   color: #000000;
}

.motor-park-item-special-5 {
   min-height: 255px;
   background-color: #1F1F1F;
}

.description-5 {
   padding: 44px 117px 186px 77px;
   margin: 0;
   font-weight: 500;
}

.motor-park-item-special-6 {
   min-height: 313px;
   background-color: #0E0E0E;
}

.description-6 {
   padding: 44px 117px 244px 48px;
   margin: 0;
   font-weight: 500;
}

.motor-park-item-special-7 {
   min-height: 277px;
   background-color: #0A0909;;
}

.description-7 {
   padding: 44px 117px 208px 48px;
   margin: 0;
   font-weight: 700;
}

/* OUR CLIENT */
.clients-and-projects {
   background-color: #0E0E0E;
   padding-top: 172px;
   margin-top: 192px;
   margin-bottom: 240px;
}

.list-clients-projects {
   display: flex;
   justify-content: space-between;
   padding-bottom: 72px;
}
.list-clients-projects-title {
   line-height: 50px;
}
.blog-btn {
   display: inline-block;
   background: transparent;
   border: 1px solid #E4B564;
   font-size: 18px;
   line-height: 30px;
   color: #E4B564;
   padding: 10px 40px;
}
 
.client-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 0px;
   align-items: center;
   
}

.client-item {
   min-height: 391px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.mavis-client {
   text-align: center;
   font-weight: 600;
   font-size: 22px;
   line-height: 28px;
}
